---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import DropBox from "../components/DropBox.svelte";
---

<Layout>
  <script>
    if (typeof window !== "undefined") {
      const token = localStorage.getItem("access_token");
      if (!token) {
        window.location.href = "/";
      }
    }
  </script>
  <Header client:idle />
  <main class="h-svh flex flex-col items-center justify-center">
    <div class="max-w-md w-full">
      <DropBox client:idle />
    </div>
  </main>
</Layout>
