---
import Layout from "../layouts/Layout.astro";
import UserProfile from "../components/UserProfile.svelte";
---

<Layout title="Panel de Control">
  <main class="h-svh flex flex-col items-center justify-center">
    <div class="max-w-md w-full">
      <h1 class="text-center text-3xl font-bold mb-6">
        Bienvenido a la zona privada
      </h1>
      <UserProfile client:idle />
    </div>
  </main>
</Layout>
