---
import FormLogin from "../components/FormLogin.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="grid place-items-center h-screen">
    <FormLogin client:idle />
  </main>
</Layout>
