---
import Layout from "../layouts/Layout.astro";
import FormResetPassword from "../components/FormResetPassword.svelte";
---

<Layout>
  <main class="grid place-items-center h-screen">
    <FormResetPassword client:idle />
  </main>
</Layout>
