---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Graphics from "../components/Graphics.svelte";
---

<script>
  if (typeof window !== "undefined") {
    const token = localStorage.getItem("access_token");
    if (!token) {
      window.location.href = "/";
    }

    const uploadedImage = sessionStorage.getItem("uploadedImage");
    if (!uploadedImage) {
      window.location.href = "/dashboard";
    } else {
      const imageElement = document.getElementById(
        "uploaded-image",
      ) as HTMLImageElement;
      if (imageElement) {
        imageElement.src = uploadedImage;
      }
    }
  }
</script>

<Layout>
  <Header client:idle />
  <main class="h-screen flex flex-col">
    <div class="h-1/12 grid place-items-center">
      <h1 class="text-4xl font-bold text-white/75">
        Resultados del An치lisis <span
          class="bg-gradient-to-r from-[#5F0672] to-[#4100E0] bg-clip-text text-transparent"
        >
          Yape
        </span>
      </h1>
    </div>
    <div class="max-w-5xl w-full mx-auto py-5">
      <div class="grid grid-cols-3 gap-8 w-full">
        <!-- Columna 1: Gr치ficos -->
        <div
          class="flex h-full flex-col justify-between items-center gap-4 py-2"
        >
          <Graphics
            client:idle
            color1="#4c56af"
            color2="#af4ca8"
            porcentaje={80}
            titulo="Deep Learning"
          />
          <Graphics
            client:idle
            color1="#52EBBA"
            color2="#52B7EB"
            porcentaje={40}
            titulo="Transferencia de Estilo"
          />
          <Graphics
            client:idle
            color1="#EB6C52"
            color2="#EBC952"
            porcentaje={60}
            titulo="Otro Filtro"
          />

          />
        </div>

        <!-- Columna 2: Imagen -->
        <div
          class="h-full flex items-center justify-center overflow-hidden rounded-xl shadow-lg bg-gray-100"
        >
          <img
            id="uploaded-image"
            alt="Transacci칩n Yape"
            class="max-h-full max-w-full object-contain brightness-75"
          />
        </div>

        <!-- Columna 3: Bot칩n -->
        <div class="h-96 flex items-center justify-center">
          <a
            href="/dashboard"
            class="px-6 py-3 rounded-xl bg-white/75 text-black hover:bg-transparent hover:text-white/75
               transition-all duration-200 border hover:border-white/75"
          >
            Elegir otra imagen
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
